body {
  margin: 0;
  padding: 0;
  color: #fff;
  background-image: url('../images/background.jpg'); /* Replace with the path to your background image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation: slide-in 0.5s ease forwards;
  overflow-x: hidden;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1;
}

@keyframes slide-in {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.container {
  display: flex;
}

nav {
  background-color: transparent;
  color: #fff;
  flex-basis: 20%;
  padding: 10px;
}

.menu {
  list-style: none;
  padding: 0;
}

.menu li {
  margin-bottom: 10px;
}

.menu li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.menu li a:hover {
  color: #ffcc00;
}

main {
  flex-grow: 1;
  padding: 20px;
}

.review {
  margin-bottom: 20px;
}

.stars {
  font-size: 24px;
  color: #ffcc00;
}

.content {
  margin-top: 10px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}
.customer-icon-wrapper {
  display: flex;
  align-items: center;
}

.customer-icon {
  width: 70px; /* Adjust the size as desired */
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px; /* Adjust the spacing as desired */
}

.customer-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

