<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="./assets/css/style.css">
</head>
<body>



  <div class="container">
    <nav>
      <ul class="menu">
        <li><a href="./">Home</a></li>


        <li><a href="./session">Session</a></li>
        <li><a href="./reviews">Reviews</a></li>
        <li><a href="./teacher">Teacher</a></li>
        <li><a href="./memories">Memories</a></li>
        <li><a href="./contact">Contact</a></li>
      </ul>
    </nav>
  
    <main>
      <h1>{{ page.title }}</h1>
      {{ content }}
    </main>
  
    <footer>
      &copy; {{ site.title }} {{ "now" | date: "%Y" }}
    </footer>
  </div>
</body>
</html>

